<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI Automation Test Suite" parallel="false">
    
    <test name="Login Tests">
        <classes>
            <class name="com.automation.test.LoginTest"/>
        </classes>
    </test>

    <test name="Signup Tests">
        <classes>
            <class name="com.automation.test.SignupTest"/>
        </classes>
    </test>

    <test name="Portfolio Tests">
        <classes>
            <class name="com.automation.test.PortfolioTest"/>
        </classes>
    </test>

    <test name="Questionnare Tests">
        <classes>
            <class name="com.automation.test.QuestionnareTest"/>
        </classes>
    </test>

    <test name="Home Tests">
        <classes>
            <class name="com.automation.test.HomeTest"/>
        </classes>
    </test>

</suite>
